
<!DOCTYPE html>
<html>
<head>
  <title>New Course Available</title>
</head>
<body>
  <h1>Hello <%= @student.name %></h1>
  <p>A new lecture is available in <%= @course.title %>!</p>
  <p>Course Title: <%= @course.title %></p>
</body>
</html>
