<% if @enrollments.any? %>
<% Course.joins(:enrollments).where("enrollments.user_id = ?",current_user.id). each do |enroll| %>
      <h1 class="card-title"><%= enroll.title %></h1>
          <p class="card-text">Description: <%= enroll.description %></p>

         <% if enroll.documents.attached? %>
                                <% enroll.documents.each do |document| %>
                                  <p>Download File: <%= link_to document.filename, rails_blob_path(document) %></p>
                                <%end%>
        <% else %>
          <p>No file attached.</p>
        <% end %>


<%end%>
<%else%>
  <p>No enrollments for this course yet.</p>

<%end%>

<%= link_to 'Back', courses_path, class: "btn btn-secondary" %>



