<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Course Details</p>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                       <%= gravatar_image_tag(current_user.email, size:64,alt: current_user.name)%>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Add Course</strong><br/>
                            <small><%= link_to 'Add Course', new_course_path  %></small>                      
                        </p>
                    </div>
                </div>
            </article>

        </div> 

    </nav>
     <nav class="panel-right">
        <p class="panel-heading">Course Details</p>
         <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                       <%= gravatar_image_tag(current_user.email, size:64,alt: current_user.name)%>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Display Course</strong><br/>
                            <small><%= link_to 'Show Course', courses_mycourse_path %></small>       
                        </p>
                    </div>

                </div>
            </article>

        </div> 
    </nav>
</div>
