<div class="section">
  <div class="container">
    <div class="column is-centered">
      <div class="column is-half">
        <h1 class="title">Editing Course</h1>
        <%= render 'form', course: @course %>
      </div>
    </div>
  </div>

</div>

